{% extends 'account/base.html' %}
{% block title %}Chat | ChatBotApp{% endblock %}
{% load static %}
{% block main %}
<div class="container">
  <div class="chat-wrapper">
    {% if messages %}
      {% for message in messages %}
          {% if message.tags == 'error' %}
              <p style="background-color: red; color: whitesmoke; text-align: center; font-size: 1rem;">{{message}}</p>
          {% elif message.tags == 'success' %}
              <p style="background-color: green; color: whitesmoke; text-align: center; font-size: 1rem;">{{message}}</p>
          {% elif message.tags == 'info' %}
              <p style="background-color: yellow; color: whitesmoke; text-align: center; font-size: 1rem;">{{message}}</p>
          {% endif %}
      {% endfor %}
      {% endif %}
    <div class="chat-header">
      {{ user }}'s Bot Assistant
      <a href="{% url 'account:change_password' %}">Change password</a>
    </div>
    <div id="chat-box" class="chat-box">
      {% for chat in chats %}
        {% if chat.user == user %}
          <div class="chat-message user">{{ chat.user_message }}
            <div class="chat-timestamp">you • {{ chat.created_at|timesince:chat.time_stamp }} ago</div>
          </div>
          <div class="chat-message bot">
            {% if forloop.last %}
              <span id="botTyping" data-reply="{{ chat.bot_reply }}">Typing...</span>
            {% else %}
              {{ chat.bot_reply }}
            {% endif %}
            <div class="chat-timestamp">bot • {{ chat.created_at|timesince:chat.time_stamp }} ago</div>
          </div>
        {% endif %}
      {% empty %}
        <p>Welcome to your assistant chat</p>
      {% endfor %}
    </div>
    <div class="chat-input">
      <form action="{% url 'chat:chat' %}" method="POST" class="d-flex">
        {% csrf_token %}
        {% for field in form %}
              <label for="{{ field.id_for_label }}" class="my-2">{{field.label}}</label> 
              {% if field.errors %}
                      <div class="text-danger small">
                          {{ field.errors.0 }}
                      </div>
              {% endif %}
              {{ field }}
          {% endfor %}
        <button type="submit" class="btn" style="background-color: #285963; color: whitesmoke; height: 3rem; font-weight: bold;">Send</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
