{% extends 'account/base.html'%}
{% load static %}

{% block title %}Change password{% endblock %}
{% block main %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="card shadow-lg" style="border-radius: 10px;">
                    <div class="card-body p-4">
                        <form action="{% url 'account:change_password' %}" method="POST">
                            {% csrf_token %}
                            {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <p style="background-color: red; color: whitesmoke; text-align: center; font-size: 1rem;">{{message}}</p>
                                {% elif message.tags == 'success' %}
                                    <p style="background-color: green; color: whitesmoke; text-align: center; font-size: 1rem;">{{message}}</p>
                                {% elif message.tags == 'info' %}
                                    <p style="background-color: yellow; color: whitesmoke; text-align: center; font-size: 1rem;">{{message}}</p>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% for field in form %} 
                                {% if form.non_field_errors %}
                                    <ul class="text-danger">
                                        {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <label for="{{ field.id_for_label }}" class="my-2">{{field.label}}</label>
                                {% if field.name == 'old_password' %}
                                    <div class="position-relative">
                                        {{ field }}
                                        <i class="fa-solid fa-eye toggle-password" 
                                        data-target="{{ field.auto_id }}"
                                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;">
                                        </i>
                                    </div>
                                {% elif field.name == 'new_password1' %}
                                    <div class="position-relative">
                                        {{ field }}
                                        <i class="fa-solid fa-eye toggle-password" 
                                        data-target="{{ field.auto_id }}"
                                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;">
                                        </i>
                                    </div>
                                {% elif field.name == 'new_password2' %}
                                    <div class="position-relative">
                                        {{ field }}
                                        <i class="fa-solid fa-eye toggle-password" 
                                        data-target="{{ field.auto_id }}"
                                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;">
                                        </i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <br>
                            <button type="submit" class="w-100 btn btn-primary">Change password</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}