{% extends 'account/base.html' %}
{% block title%}Email Alert{% endblock %}
{% block main %}
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="w-100" style="max-width: 500px;">
        <div class="shadow p-4 rounded bg-white mx-3 mt-5"> 
            <p>Hi {{ username }},</p>
            <p>Please check your email: <a href="mailto:{{ email }}" style="background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;"> {{email}} </a>
                for verification
            </p>
            <p>Thank you,<br>AskMe.net</p>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}