{% extends 'account/base.html' %}
{% block title%}Email Alert{% endblock %}
{% block main %}
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="w-100" style="max-width: 500px;">
        <div class="shadow p-4 rounded bg-white mx-3 mt-5"> 
            <p>
                If this email is registered, you’ll receive further instructions shortly.</p>
            <p>Please check your email: <b>{{email}}</b></a>
                to continue.
            </p>
            <p>Thank you,<br>AskMe</p>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}